@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(90deg, rgb(56, 189, 248), rgb(37, 99, 235))
    rgb(37, 99, 235);
  background-repeat: no-repeat;
  background-size: cover;
}
